.badge-list {
  display: flex;
  gap: 3.2rem
}

.badge-list__item {
  background-color: var(--primary--100);
  color: var(--primary--500);
  padding: 0.4rem 1.6rem;
  font-size: 2rem;
  line-height: 3.2rem;
}

@media (max-width: 1169px) {
  .badge-list {
    gap: 2.4rem
  }

  .badge-list__item {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

@media (max-width: 576px) {
  .badge-list__item {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  .badge-list {
    gap: 1.6rem;
  }
}