:root {
  --text--base: #5D6670;
  --white: #FFFFFF;
  --black: #000000;
  --text--base: #5D6670;
  --primary--900: #472C04;
  --primary--800: #7A4E0C;
  --primary--700: #AD721A;
  --primary--600: #E09422;
  --primary--500: #FBAB34;
  --primary--400: #FFB94F;
  --primary--300: #FFCD82;
  --primary--200: #FFE1B5;
  --primary--100: #FFF6E8;
  --secondary--900: #33303E;
  --secondary--800: #4E4B59;
  --secondary--700: #5F5C6B;
  --secondary--600: #716F7A;
  --secondary--500: #8C8A97;
  --secondary--400: #ACABB7;
  --secondary--300: #E0DEEA;
  --secondary--200: #F4F3F8;
  --secondary--100: #F6F6F6;
  --tertiary--900: #07381E;
  --tertiary--800: #0E6B3A;
  --tertiary--700: #149E55;
  --tertiary--600: #18B863;
  --tertiary--500: #1BD171;
  --tertiary--400: #8DE8B8;
  --tertiary--300: #A4EDC6;
  --tertiary--200: #D1F6E3;
  --tertiary--100: #E8FAF1;
  --quartenary--900: #3B0C0E;
  --quartenary--800: #6E171A;
  --quartenary--700: #A12226;
  --quartenary--600: #D42D31;
  --quartenary--500: #EC3237;
  --quartenary--400: #FA7D80;
  --quartenary--300: #FF9497;
  --quartenary--200: #FFCFD0;
  --quartenary--100: #FFF2F3;

  /* Sizes */
  --container: 131.2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--text--base);
  background: var(--white);
}

body, p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

h1, h2 {
  letter-spacing: -0.048rem;
}

h1 {
  font-size: 4.8rem;
  line-height: 5.6rem;
}

h2 {
  font-size: 4.0rem;
  line-height: 4.8rem;
}

h3 {
  font-size: 3.2rem;
  line-height: 4rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

h5 {
  font-size: 2rem;
  line-height: 2.4rem;
}

label {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button, input {
  all: unset;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}
